
    <div class="container-fluid">
        <div class="breadcrumb-wrap">
            <ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
              <li><a href="#">Setting</a></li>
              <li class="active">Account Setting</li>
            </ol>
        </div>
            <div class="clearfix">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12 book-title"> Account Settings</div>
                  <div class="account_form_blk clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form_top_blk">
                          <form>
                            <div class="form-group">
                              <label for="name" class="col-md-5">Name</label>
                              <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Shinedra Kumar">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="name" class="col-md-5">Vendor ID</label>
                              <div class="col-md-7">
                                <input type="text" class="form-control col-md-7" placeholder="1234567890">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="name" class="col-md-5">Property Name</label>
                              <div class="col-md-7">
                                <ul>
                                  <li>
                                    <input type="text" class="form-control col-md-7" placeholder="abc Girls Hostel">
                                  </li>
                                  <li>
                                    <input type="text" class="form-control col-md-7" placeholder="abc Girls Hostel">
                                  </li>
                                  <li>
                                    <input type="text" class="form-control col-md-7" placeholder="abc Girls Hostel">
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="name" class="col-md-5">Registered Date</label>
                              <div class="col-md-7">
                                <input type="text" class="form-control col-md-7" placeholder="01/01/2017">
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="bdr_blk">&nbsp;</div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form_bottom_blk">
                          <form>
                            <div class="form-group">
                              <label for="name" class="col-md-5">Change Password</label>
                              <div class="col-md-7">
                                <ul>
                                  <li>
                                    <input type="text" class="form-control col-md-7" placeholder="Change Password">
                                  </li>
                                  <li>
                                    <input type="text" class="form-control col-md-7" placeholder="Change Password">
                                  </li>
                                </ul>
                                <div class="update_btn">
                                  <input type="submit" value="UPDATE">
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="view-tabs hidden-sm hidden-md hidden-lg">
                <ul>
                  <li class="view-t active">EDIT</li>
                  <li class="edit-t">VIEW</li>
                </ul>
                <div class="clearfix"></div>
            </div>
    </div>
  
