
<div class="container-fluid">
    <div class="breadcrumb-wrap">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a href="#">Bookings</a></li>
            <li class="active">Booked</li>        
        </ol>
    </div>

    <div class="clearfix">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 book-title">
                Booked <span>Booked Rooms Listing</span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="hotelchainwrap clearfix text-center">
                    <form>
                        <label for="hotel">HOTEL CHAIN</label>
                            <select id="hotel" class="form-control">
                            <option>Property Name</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default viewbookinglist">
        <div class="panel-heading">View Bookings</div>
        <div class="panel-body">
            <div class="clearfix recordsbox">
                <select class="selectbox">
                    <option>5</option>
                </select>records
            </div>
            <div class="clearfix book-table roomslt ">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                  <tr class="firstbg">
                    <td class="td-pad"><input name="" type="checkbox" value=""></td>
                    <td class="td-pad">Booking#</td>
                    <td class="td-pad">Booked On</td>
                    <td class="td-pad">Status</td>
                    <td class="td-pad">Actions</td>
                  </tr>
                  <tr>
                    <td class="td-pad1" data-th="Check Box"><input name="" type="checkbox" value=""></td>
                    <td class="td-pad1" data-th="Booking#"><a href="#" class="book-btn">booking</a></td>
                    <td class="td-pad1" data-th="Booked On">
                        <div class="form-group pull-left">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" placeholder="01/01/2017"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="pull-left to-txt">TO </div>
                        <div class="form-group pull-left">
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" placeholder="01/01/2017"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </td>
                    <td class="td-pad1" data-th="Status">
                        <div class="selec-sec">
                            <button class="downlo-se" type="button" data-toggle="dropdown">Cancelled &nbsp;</button>
                              <ul class="dropdown-menu">
                                <li><a href="#">Open</a></li>
                                <li><a href="#">Closed</a></li>
                                <li><a href="#">Pending</a></li>
                              </ul>
                        </div>
                    </td>
                    <td class="td-pad1" data-th="Actions">
                        <button type="button" class="btn btn-info">Search</button> &nbsp; To &nbsp;  <button type="button" class="btn btn-danger">Reset</button>
                    </td>
                  </tr>
                </table>
            </div>
        </div>
    </div> 
 
    <div class="panel panel-default viewbookinglist">
        <div class="panel-heading">Records</div>
        <div class="panel-body">
            <div class="clearfix recordsbox">
                <select class="selectbox">
                 <option>5</option>
                </select>records
            </div>
            <div class="clearfix book-table roomslt ">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                    <tr class="firstbg">
                        <td class="td-pad"><input name="" type="checkbox" value=""></td>
                        <td class="td-pad">Username</td>
                        <td class="td-pad">Email</td>
                        <td class="td-pad">Booking ID</td>
                        <td class="td-pad">Booked Date</td>
                        <td class="td-pad">Actions</td>
                    </tr>
                    <tr>
                        <td class="td-pad2" data-th="Check box"><input name="" type="checkbox" value=""></td>
                        <td class="td-pad2" data-th="Username">shuxer</td>
                        <td class="td-pad2" data-th="Email"><a href="mailto:shuxer@gmail.com">shuxer@gmail.com</a></td>
                        <td class="td-pad2" data-th="Booking ID">120</td>
                        <td class="td-pad2" data-th="Booked Date">12 .12.2015</td>
                        <td class="td-pad" data-th="Actions"><button type="button" class="btn btn-danger">Cancelled</button></td>
                    </tr>
                    <tr>
                        <td class="td-pad2" data-th="Check box"><input name="" type="checkbox" value=""></td>
                        <td class="td-pad2" data-th="Username">shuxer</td>
                        <td class="td-pad2" data-th="Email"><a href="mailto:shuxer@gmail.com">shuxer@gmail.com</a></td>
                        <td class="td-pad2" data-th="Booking ID">120</td>
                        <td class="td-pad2" data-th="Booked Date">12 .12.2015</td>
                        <td class="td-pad" data-th="Actions"><button type="button" class="btn btn-danger">Cancelled</button></td>
                    </tr>
                    <tr>
                        <td class="td-pad2" data-th="Check box"><input name="" type="checkbox" value=""></td>
                        <td class="td-pad2" data-th="Username">shuxer</td>
                        <td class="td-pad2" data-th="Email"><a href="mailto:shuxer@gmail.com">shuxer@gmail.com</a></td>
                        <td class="td-pad2" data-th="Booking ID">120</td>
                        <td class="td-pad2" data-th="Booked Date">12 .12.2015</td>
                        <td class="td-pad" data-th="Actions"><button type="button" class="btn btn-danger">Cancelled</button></td>
                    </tr>
                    <tr>
                        <td class="td-pad2" data-th="Check box"><input name="" type="checkbox" value=""></td>
                        <td class="td-pad2" data-th="Username">shuxer</td>
                        <td class="td-pad2" data-th="Email"><a href="mailto:shuxer@gmail.com">shuxer@gmail.com</a></td>
                        <td class="td-pad2" data-th="Booking ID">120</td>
                        <td class="td-pad2" data-th="Booked Date">12 .12.2015</td>
                        <td class="td-pad" data-th="Actions"><button type="button" class="btn btn-danger">Cancelled</button></td>
                    </tr>
                    <tr>
                        <td class="td-pad2" data-th="Check box"><input name="" type="checkbox" value=""></td>
                        <td class="td-pad2" data-th="Username">shuxer</td>
                        <td class="td-pad2" data-th="Email"><a href="mailto:shuxer@gmail.com">shuxer@gmail.com</a></td>
                        <td class="td-pad2" data-th="Booking ID">120</td>
                        <td class="td-pad2" data-th="Booked Date">12 .12.2015</td>
                        <td class="td-pad" data-th="Actions"><button type="button" class="btn btn-danger">Cancelled</button></td>
                    </tr>
                    <tr>
                        <td class="td-pad2" data-th="Check box"><input name="" type="checkbox" value=""></td>
                        <td class="td-pad2" data-th="Username">shuxer</td>
                        <td class="td-pad2" data-th="Email"><a href="mailto:shuxer@gmail.com">shuxer@gmail.com</a></td>
                        <td class="td-pad2" data-th="Booking ID">120</td>
                        <td class="td-pad2" data-th="Booked Date">12 .12.2015</td>
                        <td class="td-pad" data-th="Actions"><button type="button" class="btn btn-danger">Cancelled</button></td>
                    </tr>
                    <tr>
                        <td class="td-pad2" data-th="Check box"><input name="" type="checkbox" value=""></td>
                        <td class="td-pad2" data-th="Username">shuxer</td>
                        <td class="td-pad2" data-th="Email"><a href="mailto:shuxer@gmail.com">shuxer@gmail.com</a></td>
                        <td class="td-pad2" data-th="Booking ID">120</td>
                        <td class="td-pad2" data-th="Booked Date">12 .12.2015</td>
                        <td class="td-pad" data-th="Actions"><button type="button" class="btn btn-danger">Cancelled</button></td>
                    </tr>
                </table>
                <div class="clearfix">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 showing-txt">
                          Showing 1 to 5 of 25 entries
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <ul class="pagination pull-right">
                              <li><a href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
$(function () {
	$('#datetimepicker1').datetimepicker(
	 {
  weekStart: 1,
  todayBtn:  1,
  autoclose: 1,
  todayHighlight: 1,
  startView: 2,
  minView: 2,
  forceParse: 0
});
$('#datetimepicker2').datetimepicker(
	 {
  weekStart: 1,
  todayBtn:  1,
  autoclose: 1,
  todayHighlight: 1,
  startView: 2,
  minView: 2,
  forceParse: 0
});
});

</script>
