<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  abort(@vendor_request.first_name.to_json)
    <h1>Hello <%= @vendor_request.first_name %>, </h1>
    <p>Your request has been Rejected by administrator</p>
    <p>Regards,</p>
    <p>Stayhook team</p>

  </body>
</html>
