        <div class="right-footer-sec">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <div class="footer-logo"><img src="images/inner-logo.png" class="img-responsive" alt=""></div>
              </div>
              <div class="col-md-6">
                <div class="cent-footer">
                  <p>STAYHOOK ® is a registered Trademark of StayHook Pvt Ltd (ACN 698 425 354)</p>
                  <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <div class="footer-social"> <a href="#"><i class="fa fa-fw" aria-hidden="true" title="Copy to use twitter"></i></a> <a href="#"><i class="fa fa-fw" aria-hidden="true" title="Copy to use facebook-f"></i></a> <a href="#"><i class="fa fa-fw" aria-hidden="true" title="Copy to use google-plus"></i></a> </div>
              </div>
            </div>
          </div>
        </div>