
<div class="col-md-9">
    <div class="right-dashboard">
        <div class="boking-sec">
            <h5>Booking History</h5>
            <div class="bokinglinst-sec">
                <h2>January 2017</h2>
                <ul>
                    <li>
                      <div class="date-sect"> <span>
                        <p>Sunday</p>
                        <b>01</b> </span> </div>
                      <div class="boking-info">
                        <div class="boking-det"> <b>StayHook Family</b>
                          <p> Alpha I, Greater Noida<Br>
                            Sunday, January 1st, at 12:00 PM </p>
                        </div>
                        <em><a href="#">View Details</a></em> </div>
                    </li>
                    <li>
                      <div class="date-sect"> <span>
                        <p>Sunday</p>
                        <b>01</b> </span> </div>
                      <div class="boking-info">
                        <div class="boking-det"> <b>StayHook Family</b>
                          <p> Alpha I, Greater Noida<Br>
                            Sunday, January 1st, at 12:00 PM </p>
                        </div>
                        <em><a href="#">View Details</a></em> </div>
                    </li>
                    <li>
                      <div class="date-sect"> <span>
                        <p>Sunday</p>
                        <b>01</b> </span> </div>
                      <div class="boking-info">
                        <div class="boking-det"> <b>StayHook Family</b>
                          <p> Alpha I, Greater Noida<Br>
                            Sunday, January 1st, at 12:00 PM </p>
                        </div>
                        <em><a href="#">View Details</a></em> </div>
                    </li>
                    <li>
                      <div class="date-sect"> <span>
                        <p>Sunday</p>
                        <b>01</b> </span> </div>
                      <div class="boking-info">
                        <div class="boking-det"> <b>StayHook Family</b>
                          <p> Alpha I, Greater Noida<Br>
                            Sunday, January 1st, at 12:00 PM </p>
                        </div>
                        <em><a href="#">View Details</a></em> </div>
                    </li>
                    <li>
                      <div class="date-sect"> <span>
                        <p>Sunday</p>
                        <b>01</b> </span> </div>
                      <div class="boking-info">
                        <div class="boking-det"> <b>StayHook Family</b>
                          <p> Alpha I, Greater Noida<Br>
                            Sunday, January 1st, at 12:00 PM </p>
                        </div>
                        <em><a href="#">View Details</a></em> </div>
                    </li>
                    <li>
                      <div class="date-sect"> <span>
                        <p>Sunday</p>
                        <b>01</b> </span> </div>
                      <div class="boking-info">
                        <div class="boking-det"> <b>StayHook Family</b>
                          <p> Alpha I, Greater Noida<Br>
                            Sunday, January 1st, at 12:00 PM </p>
                        </div>
                        <em><a href="#">View Details</a></em> </div>
                    </li>
                    <li>
                      <div class="date-sect"> <span>
                        <p>Sunday</p>
                        <b>01</b> </span> </div>
                      <div class="boking-info">
                        <div class="boking-det"> <b>StayHook Family</b>
                          <p> Alpha I, Greater Noida<Br>
                            Sunday, January 1st, at 12:00 PM </p>
                        </div>
                        <em><a href="#">View Details</a></em> </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
    
