
<div id="main_container">
    <div class="admin_login_section">
        <div class="admin_login_blk">
            <div class="logo_img">
                <img src="/assets/backend/logo-img.png"/>
            </div>
            <form>
                <div class="form-group">
                    <label>Forgot Password</label>
                    <div class="form_content">
                        <input class="form-control" placeholder="9871234567" type="text">
                        <i class="fa fa-user" aria-hidden="true"></i> 
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Send otp">
                </div>
                <span class="otp_txt">OTP Sent to Registered mobile number</span>
            </form>
        </div>
    </div>
</div>

