
<div id="main_container">
    <div class="admin_login_section">
        <div class="admin_login_blk">
            <div class="logo_img"><img src="/assets/backend/logo-img.png"/></div>
            <form>
                <div class="form-group">
                    <label>Enter OTP</label>
                    <div class="form_content">
                        <input class="form-control" placeholder="9871234567" type="text">
                        <i class="fa fa-user" aria-hidden="true"></i> 
                    </div>
                </div>
                <div class="bdr_img"><img src="/assets/backend/bdr-img.jpg"/></div>
                <div class="form-group">
                    <label><strong>CHANGE PASSWORD</strong></label>
                    <div class="form-group">
                        <div class="form_content">
                            <input class="form-control" placeholder="New password" type="password">
                            <i class="fa fa-lock" aria-hidden="true"></i> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form_content">
                            <input class="form-control" placeholder="Confirm password" type="password">
                            <i class="fa fa-lock" aria-hidden="true"></i> 
                        </div>
                    </div>
                </div>
                <div class="form-group">
                  <input type="submit" value="Update Password">
                </div>
            </form>
        </div>
    </div>
</div>
