
<div class="confirmpage clearfix">


<div class="clearfix ConfirmLeft">
 <h2>Guest Details</h2>

 <div class="clearfix guestdetails">
 <form action="form.php">
  <div class="col-md-6 col-sm-6 col-xs-12">
   <div class="form-group"><span class="icon-confirm"><i class="fa fa-user" aria-hidden="true"></i></span><input class="form-control" placeholder="NeverBorn"></div>
  </div>
  
  <div class="col-md-6 col-sm-6 col-xs-12">
   <div class="form-group"><span class="icon-confirm"><i class="fa fa-phone" aria-hidden="true"></i></span><input class="form-control" placeholder="+91 987123456"></div>
  </div>
  
  <div class="col-md-12 col-sm-12 col-xs-12">
   <div class="form-group"><span class="icon-confirm"><i class="fa fa-envelope" aria-hidden="true"></i></span><input class="form-control" placeholder="name@mail.com"></div>
  </div>
  </form>
 </div>	

 <div class="confirm-coupon"><img src="/assets/coupon.jpg" alt="Copuon"> &nbsp; Have a disount coupon ?</div>

<div class="payment-booking clearfix">
 <button class="blue-btn" type="button">PAY 50% NOW</button>

 <div class="clearfix or-box">
  <div class="or-txt">OR</div>
  <div class="or-line"></div>
 </div>

 <button class="blue-btn" type="button">pAY FULL AMOUNT</button>
</div>





</div>


<div class="ConfirmRight clearfix">

<div class="confirm-address clearfix">
<div class="col-md-8 col-sm-7 col-xs-8 text-center">
<h4>StayHook Family</h4>
<p><img src="/assets/locationicon.png" alt="location"> Alpha I, Greater Noida, India</p>
</div>
<div class="col-md-4 col-sm-5 col-xs-4"><img src="/assets/confirm-hotel.jpg" class="img-responsive img-rounded" alt="Confirm Hotel"></div>


</div>

<div class="clearfix confirm-check-wrap">

<div class="confirm-check">
<div class="row">
<ul>
<li class="col-md-3 col-sm-3 col-xs-3"><strong>Check - IN		:</strong> </li>
<li class="col-md-6 col-sm-6 col-xs-6">Thursday,12 Jan,2017</li>
<li class="col-md-3 col-sm-3 col-xs-3"><strong><strong>AT 10:00 AM</strong></strong></li>
</ul>
</div>
</div>

<div class="confirm-check1">
<div class="row">
<ul>
<li class="col-md-3 col-sm-3 col-xs-3"><strong>Check - OUT		:</strong> </li>
<li class="col-md-6 col-sm-6 col-xs-6">Thursday,20 Jan,2017</li>
<li class="col-md-3 col-sm-3 col-xs-3">A<strong>T 10:00 AM</strong></li>
</ul>
</div>
</div>

</div>

<div class="clearfix confirm-guest">
<ul>
<li><i class="fa fa-user" aria-hidden="true"></i> 01 Room</li>
<li>02 Guests</li>
<li>02 Nights</li>
<li><button type="button" class="blue-btn">EDIT</button></li>
</ul>
</div>

<div class="confirm-payment-detail clearfix">
<h3>PAYMENT DETAILS</h3>

 
<div class="col-md-4 col-sm-4 col-xs-4 confirm-pay">Booking Amount</div>
<div class="col-md-4 col-sm-4 col-xs-4 text-center confirm-pay">Rs 1200 x 1 Room</div>
<div class="col-md-4 col-sm-4 col-xs-4 text-right confirm-pay">Rs 1200</div>

<div class="col-md-6 col-sm-6 col-xs-6 confirm-pay">Discount</div>
<div class="col-md-6 col-sm-6 col-xs-6 text-right confirm-pay">-Rs 200</div>
 




</div>

<div class="payabale-amount clearfix">

<div class="col-md-6 col-sm-6 col-xs-6 confirm-pay">Payabale Amount </div>
<div class="col-md-6 col-sm-6 col-xs-6 text-right confirm-pay">Rs 1000</div>

</div>

</div>

</div>
