

<div class="dashbord-sec"> 
  
  
  <!-- dashboard-secn -->
  <div class="lower-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7 booking_cmplt">
        	<div class="img"><img src="/assets/chk_icon.png" alt=""/> </div>
            <h2>Your Booking is Now Complete</h2>
            <h1>Thank you for booking with us.</h1>
            <p>You will recieve a mail and a sms confirmation.</p>
            
            <div class="qr_panel">
            	<div class="qr_img">
            		<img src="/assets/qr_img.png"alt=""/>
                </div>
                <div class="btc">
                <div class="booking_id">
                	<h2>Booking ID</h2>
                    <h1>FF7897FFX</h1>
                </div>
                </div>
                <div class="row">
                	<div class="col-lg-12 bk_dt">
                    	<p><strong>Date Booked :</strong> 02/01/2017  Wednesday</p>
                        <h1>Booked By : Shinendra Kumar</h1>
                        <p>Email : qwerty@gmail.com<br>
                        	Phone : 987123456
                        </p>
                    </div>
                </div>
                
            </div>
          
        </div>
        <div class="col-md-5 hidden-xs hidden-sm ">
        	<div class="pmt_d_box">
            	<h1>Payment Details</h1>
            </div>
            <a href="" class="view_cancel_bt">VIEW CANCELLATION POLICY</a>
        	
        </div>
        
        
        <div class="col-md-12">
        	<div class="bc_dt">
            	01-Jan-2017 Monday - 15-Jan-2017 Friday<br><span>2 Persons - Family</span>
            </div>
        </div>
      </div>
      
      <div class="row map_row">
      	<div class="col-lg-12">
      		
        
        	<div class="map_pnl">
        	<img src="/assets/map_img.jpg" alt="map" class="img-responsive">
        </div>
        
        	<div class="map_info">
        	<h1>HOTEL INFO</h1>
            <p>Aryan Residency,  Knowldge Park 1,
Near Kailash Hospital, Greater Noida.
Pin 201310, Uttar Pradesh.</p>

<div class="ct_info">
	+91 987-123-4567<br>
+91 97-612-43567
</div>

<h1>HOW TO GET THERE</h1>
            <p>There are many variations of passages of
 Lorem Ipsum available, but the majority
 have suffered alteration in some form.</p>
        </div>
        </div>
        
        
      </div>
      
      <div class="row hidden-md hidden-lg ">
      		<div class="col-md-5">
        	<div class="pmt_d_box">
            	<h1>Payment Details</h1>
            </div>
            <a href="" class="view_cancel_bt">VIEW CANCELLATION POLICY</a>
        	
        </div>
      </div>
      
    </div>
  </div>
 
</div>
