<div class="side-menu-sec">
	<div class="botm-menus">
		<div class="home-section"> <b>HOME</b>
			<ul>
				<li class="side-menu-1"><%= link_to "Overview", backend_overview_path %></li>
				<li class="side-menu-2"><a href="#">Notifications</a></li>
				<li class="side-menu-3"><a href="#">Messages</a></li>
			</ul>
		</div>
		<div class="home-section"> <b>BOOKINGS</b>
			<ul>
				<li class="side-menu-4"><%= link_to "Booked", backend_booking_path %></li>
				<li class="side-menu-5"><%= link_to "Check-In", backend_check_in_path %></li>
				<li class="side-menu-6"><%= link_to "Check-Out", backend_check_out_path %></li>
			</ul>
		</div>

		<div class="home-section"> <b>ROOMS</b>
			<ul>
				<li class="side-menu-7">
					<div class="side-menu-">
						<div class="sid-accor">
							<div class="panel-heading" data-acc-link="demo1">Long-Term</div>
							<div class="panel-body" data-acc-content="demo1">
								<ul class="acor-menu">
									<li><a href="roomslt.html">Private Room</a></li>
									<li><a href="#">Shared Room</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="side-menu-8">
					<div class="side-menu-">
						<div class="sid-accor">
							<div class="panel-heading" data-acc-link="demo2">Regular</div>
							<div class="panel-body" data-acc-content="demo2">
								<ul class="acor-menu">
									<li><a href="#">Menu-01</a></li>
									<li><a href="#">Menu-02</a></li>
									<li><a href="#">Menu-03</a></li>
									<li><a href="#">Menu-04</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="home-section"> <b>SETTINGS</b>
			<ul>
				<li class="side-menu-9"><a href="#">Account Settings</a></li>
			</ul>
		</div>
	</div>
</div>