<!DOCTYPE html>
<html>
	<head>
  		<title>Welcome to StayHook</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<%= stylesheet_link_tag    'backend/backend', media: 'all' %>
		<%= javascript_include_tag 'backend/backend' %>
		<%= csrf_meta_tags %>

	</head>

	<body>
		<%= yield %>
	</body>
</html>